:root {
  --main-color: #4b0082;
  --second-color: #327ea7;
  --third-color: #384955;
  --highlight-color: #88b0cd;
  --main-font: "Ubuntu", sans-serif;
  --second-font: "Oxygen", sans-serif;
}

/* Reset */
*,
*::before,
*::after {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

h1,
h2,
p {
  margin-bottom: 15px;
}

a {
  color: currentColor;
}

html {
  scroll-behavior: smooth;
  /* scroll-snap-type: y mandatory; */
}

body {
  font-family: var(--main-font);
  background-color: var(--highlight-color);
  color: white;
}

img,
video {
  width: 100%;
  display: block;
}

.toTop {
  position: fixed;
  bottom: 1rem;
  right: 1rem;
  z-index: 90;
  padding: 0.5rem 1rem;
  border-radius: 1rem;
  background-color: rgba(75, 0, 130, 0.3);
  font-size: 2rem;
}

.scroll-indicator {
  position: absolute;
  bottom: 2rem;
  left: 50%;
  transform: translateX(-50%);
  font-size: 2rem;
  animation: fade 1.5s ease infinite;
}

@keyframes fade {
  from {
    opacity: 1;
  }
  50% {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
.playBtn {
  display: inline-block;
  background-color: var(--highlight-color);
  border-radius: 10px;
  padding: 10px 20px;
  text-transform: uppercase;
  color: var(--main-color);
  font-weight: 600;
  text-decoration: none;
}

section {
  width: 100%;
}

/* Scrollbar */
/* width */
::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  background: var(--third-color);
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: var(--highlight-color);
  border-style: solid;
  border-width: 4px 0px;
  border-color: var(--second-color);
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: var(--second-color);
}

/* Loader */
.loader {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 99;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100vw;
  height: 100vh;
  background: var(--main-color);
}

/* spinner */
.loader__spinner {
  width: 120px;
  height: 120px;
  border: 10px solid transparent;
  border-radius: 50%;
  border-top-color: var(--second-color);
  border-bottom-color: var(--second-color);
  filter: drop-shadow(0 0 5px var(--second-color));
  animation: spin 0.7s linear infinite;
}

/* spinner animation */
@keyframes spin {
  0% {
    transform: rotate(0deg);
    border-width: 10px;
  }
  50% {
    transform: rotate(180deg);
    border-width: 1px;
  }
  100% {
    transform: rotate(360deg);
    border-width: 10px;
  }
}
/* Header */
nav {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 98;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  height: auto;
  padding: 15px;
  text-align: center;
  background: var(--main-color);
  border-radius: 0 0 10px 10px;
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.08), 0 2px 2px rgba(0, 0, 0, 0.12), 0 4px 4px rgba(0, 0, 0, 0.16), 0 8px 8px rgba(0, 0, 0, 0.2);
}
nav .logo div {
  font-size: 1.5rem;
}
nav .logo small {
  font-size: 0.6rem;
}
nav a {
  text-decoration: none;
  color: currentColor;
}
nav .navbar__toggle {
  position: absolute;
  top: 25px;
  right: 25px;
  cursor: pointer;
  color: currentColor;
}
nav .navbar__toggle span {
  display: block;
  width: 25px;
  height: 10px;
  border-top: 3px solid currentColor;
}
nav .navbar__links {
  display: none;
  margin-top: 3rem;
}
nav ul,
nav ul li {
  list-style: none;
  padding: 0;
}
nav .active {
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

.creator, .tools, .main, .intro {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.container {
  width: 85%;
  max-width: 1024px;
}

section {
  position: relative;
}

.intro {
  min-height: 100vh;
  width: 100%;
  padding: 0 25px;
  z-index: 1;
  background-color: var(--second-color);
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.08), 0 2px 2px rgba(0, 0, 0, 0.12), 0 4px 4px rgba(0, 0, 0, 0.16), 0 8px 8px rgba(0, 0, 0, 0.2);
}

.main {
  min-height: 100vh;
  width: 100%;
  padding-top: 3rem;
  background-color: var(--third-color);
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.08), 0 2px 2px rgba(0, 0, 0, 0.12), 0 4px 4px rgba(0, 0, 0, 0.16), 0 8px 8px rgba(0, 0, 0, 0.2);
}
.main section:not(.creator) {
  margin-bottom: 3rem;
}
.main video {
  margin-top: 2rem;
  border-radius: 1rem;
}
.main ul li,
.main ol li {
  margin-left: 15px;
}

.tools aside {
  display: flex;
  align-items: center;
  justify-content: space-around;
  width: 100%;
}
.tools aside img {
  width: 4rem;
  height: 4rem;
}

.creator {
  min-height: 100vh;
  z-index: 1;
}
.creator::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
  background: url("../img/creator-bg.jpg") center/cover;
}
.creator::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
  background: rgba(0, 0, 0, 0.4);
}
.creator img {
  width: 80%;
  margin: 2rem auto;
  border-radius: 50%;
}
.creator h2 {
  text-align: center;
}
.creator .social-icons {
  margin: 2rem 0;
}

footer {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  text-align: center;
  padding: 3rem 0;
}
footer div {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 1rem;
}

/* svg */
svg {
  fill: currentColor;
  display: block;
  width: 100%;
}

/* Social icons */
.social-icons {
  display: flex;
  align-items: center;
  justify-content: center;
}

.social-icons__list {
  display: flex;
  width: 100%;
  justify-content: space-around;
}

.social-icons__list-item {
  display: flex;
  align-items: center;
  padding: 10px;
  color: currentColor;
}

.creator .social-icons__list-item {
  background: var(--main-color);
  border-radius: 5px;
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.25), 0 2px 2px rgba(0, 0, 0, 0.2), 0 4px 4px rgba(0, 0, 0, 0.15), 0 8px 8px rgba(0, 0, 0, 0.1), 0 16px 16px rgba(0, 0, 0, 0.05);
}

.social-icon {
  display: block;
  height: auto;
  width: 32px;
  transition: all 0.5s;
}

.social-icon-text {
  display: inline-block;
  padding-left: 15px;
}