/* Header */
nav {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 98;
  display: flex;
  flex-direction: column;
  align-items: center;

  width: 100%;
  height: auto;
  padding: 15px;

  text-align: center;

  background: var(--main-color);
  border-radius: 0 0 10px 10px;
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.08), 0 2px 2px rgba(0, 0, 0, 0.12),
    0 4px 4px rgba(0, 0, 0, 0.16), 0 8px 8px rgba(0, 0, 0, 0.2);

  .logo {
    div {
      font-size: 1.5rem;
    }
    small {
      font-size: 0.6rem;
    }
  }

  a {
    text-decoration: none;
    color: currentColor;
  }

  .navbar__toggle {
    position: absolute;
    top: 25px;
    right: 25px;

    cursor: pointer;
    color: currentColor;

    span {
      display: block;

      width: 25px;
      height: 10px;

      border-top: 3px solid currentColor;
    }
  }

  .navbar__links {
    display: none;
    margin-top: 3rem;
  }

  ul,
  ul li {
    list-style: none;
    padding: 0;
  }

  .active {
    display: flex;
    flex-direction: column;
    gap: 2rem;
  }
}
